.vscode
*.txt
*.bat
node_modules/
docs/.vuepress/
docs/.gitignore
docs/.vuepress/dist/
docs/private
docs/courses
docs/README.md
docs/navigation.md
docs/portfolio.md
docs/deploy.sh
docs/.github
package-lock.json
yarn.lock
pnpm-lock.yaml
